#background {
  background-color: #CCD5AE;
  padding: 20px;
}

#image{
  width: 500px;
  height: 500px;
  
}

.image:hover {
  transform: scale(1.2); /* Makes the image grow by 20% */
}
.font {
  font-family: sans-serif;
  font-size: 20px;
}

.colorpalette {
  background-color: #CCD5AE;;
  padding: 20px;
  border-radius: 10px;
}

@keyframes grow-shrink {
  0% {
    transform: scale(1); /* Original size */
  }
  50% {
    transform: scale(1.2); /* Grows by 20% */
  }
  100% {
    transform: scale(1); /* Back to original size */
  }
}

.picture {
  width: 100px;
  height: 100px;
  animation: grow-shrink 2s infinite; /* Apply animation */
}